<div id="denverTop">Denver</div>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">News Scraper</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="home">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="saved">
                    <a class="nav-link" href="/savedArticles">Saved Articles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/us">US News</a>
                        <a class="dropdown-item" href="/world">World News</a>
                        <a class="dropdown-item" href="/sports">Sports</a>
                        <a class="dropdown-item" href="/tech">Tech</a>
                        <a class="dropdown-item" href="/gaming">Gaming</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header"><strong>Local News</strong></h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/kc">Kansas City</a>
                        <a class="dropdown-item active" href="/denver">Denver</a>
                        <a class="dropdown-item" href="/seattle">Seattle</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary my-2 my-sm-0" id="denverScrape" style="margin-right: 7px">Get Denver
                        News Articles</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger my-2 my-sm-0" id="denverEmpty">Empty
                        Denver News</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="searchBar" type="search" placeholder="Search"
                    aria-label="Search">
                <a class="btn btn-success my-2 my-sm-0" href="/search" id="searchButton" role="button">Search</a>
            </form>
        </div>
</header>

<div class="row projs" id="denverArticles">
    {{#each denverArts}}
    <div class="projCards portItem" id={{this._id}}>
        <img class="projImg" src={{this.image}} alt={{this.title}}>
        <div class="cardText">
            <h5 class="projText">{{this.title}}</h5>
        </div>
        <div class="buttons">
            <a href={{this.link}} target="_blank" class="btn btn-primary">Visit Site</a>
            <button class="btn btn-primary saveArticle" id={{this._id}}>Save Article</button>
        </div>
        <div class="delete">
            <span class="deleteArticle" data-id={{this._id}}>&#10005;</span>
        </div>
    </div>
    {{/each}}
</div>
<div id="footer">
    <div class="footerText">
        <p> <a href="https://github.com/BacchusKC" class="footLinks">My Github</a> &ensp;|&ensp;
            <a href="https://www.linkedin.com/in/BacchusKC/" class="footLinks">My LinkedIn</a> &ensp;|&ensp;
            <a href="mailto:BacchusKC@gmail.com" class="footLinks">Email Me</a>
        </p>
        <p>&#169; Travis Morris 2019</p>
    </div>
</div>