<div id="savedTop">Saved</div>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">News Scraper</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="home">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" id="saved">
                    <a class="nav-link" href="/savedArticles">Saved Articles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/us">US News</a>
                        <a class="dropdown-item" href="/world">World News</a>
                        <a class="dropdown-item" href="/sports">Sports</a>
                        <a class="dropdown-item" href="/tech">Tech</a>
                        <a class="dropdown-item" href="/gaming">Gaming</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header"><strong>Local News</strong></h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/kc">Kansas City</a>
                        <a class="dropdown-item" href="/denver">Denver</a>
                        <a class="dropdown-item" href="/seattle">Seattle</a>
                    </div>
                </li>
            </ul>
        </div>
</header>

<div class="row projs savedArticles">
    {{#each savedData}}
    <div class="projCards portItem" id={{this._id}}>
        <img class="projImg" src={{this.image}} alt={{this.title}}>
        <div class="cardText">
            <h5 class="projText">{{this.title}}</h5>
        </div>
        <div class="buttons">
            <button class="btn btn-success comments" data-id={{this.id}}>Comments</button>
            <a href={{this.link}} target="_blank" class="btn btn-primary">Visit Site</a>
        </div>
        <div class="delete">
            <span class="deleteArticle" data-id={{this._id}}>&#10005;</span>
        </div>
    </div>
    {{/each}}
</div>
<div class="comDivHolder">
    <div class="commentsDiv"></div>
</div>